.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .about-contact {
    width: 50%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    max-width: 150px; /* Set a maximum width if necessary */
  }